{
  "MONGODB_URI": "mongodb+srv://<user>:<password>@<cluster-url>/<database>?retryWrites=true&w=majority",
  "MDB_MCP_READ_ONLY": "",
  "MDB_MCP_INDEX_CHECK": "",
  "MDB_MCP_MAX_DOCUMENTS_PER_QUERY": "",
  "MDB_MCP_MAX_BYTES_PER_QUERY": "",
  "MDB_MCP_DISABLED_TOOLS": "",
  "MDB_MCP_API_CLIENT_ID": "",
  "MDB_MCP_API_CLIENT_SECRET": "",
  "MDB_MCP_LOG_PATH": "",
  "MDB_MCP_VOYAGE_AI_API_KEY": ""
}
